
/* General to-do:
fix pictures to be nicer
make each section work for mobile 
fix h5 size to be bigger*/

html {
    font-size: 16px;
}

body {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


/* fix site for mobile devices */
.header{
   display: flex;
   background-color: #325E99;
   width: 100%;
   height: 50px;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   top: 0;
   left:0;
   position: fixed;
   color: white;
   z-index: 2;
  
    
}

.header h3{
    margin-left: 30px;
    font-size: 1rem;
    
}

li{
    display: inline;
    vertical-align: baseline;
    font-family: 'montserrat';
    margin-right: 30px;
    text-decoration: underline;
     
}

.navigation li a {
    color: white;
    
    
}

@media only screen and (max-width: 645px){
    ul {
        display: none;
    }
}

/* @media only screen and (min-width: 420px){
    .title {
        width: 110%;
        height: 600px;
    }
} */


h1{
    font-family: 'Montserrat';
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    
}



h2{
    font-family: 'Montserrat';
    
    font-style: italic;
    text-align: center;
    text-shadow: 2px 3px 8px rgba(0,0,0,0.66);
}

h3{
    font-family: 'Montserrat';
    font-size: 1.5rem;
    

}

h5 {
    font-family: 'inter';
    font-size: 1rem;
    
}

.title {
    background-image: url(./img/title.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
    width: 100%;
    height: 500px;
    margin: 0;
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 5px gray;

}



.main-title {
    
    text-shadow: 2px 3px 8px rgb(0 0 0 / 66%);
    margin-top: 150px;

}

button {
    
    
    background: #325E99;
    font-size: 22px; 
    line-height: 22px; 
    padding: 15px; 
    border-radius: 7px;
    border: #325E99;
    font-family: 'montserrat';
    text-decoration: none;
    box-shadow: 0 0 10px black;
}

a {
    color:white;
    text-decoration: none;
}



/* Edit philosophy to be centered and correctly spaced */
.philosophy {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;

}

.phil-text{
    width: 50%;
}
.philosophy img {
    width: 25%;
    margin-left: 20px;
    box-shadow: 0 0 5px gray;
}

/* Create mission section */

.mission {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    flex-direction: row-reverse;
    width: 100%;
    background-color: whitesmoke;

}

.mission-txt{
    width: 50%;
}
.mission img {
    width: 25%;
    margin-right: 20px;
    box-shadow: 0 0 5px gray;
}

/* Add JS to classes so the sections flip when the mouse is over it */
.classes-heading {
    margin-bottom: 0;
    font-size: 2.5rem;
}
.classes {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 5px;

}

@media only screen and (max-width: 1148px) {
    .classes {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
}

.english-img{
    background-image: url(./img/English.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 50px; 
    padding: 150px; 
}
.english{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    box-shadow: 0 0 5px gray;

}

.reading-img {
    background-image: url(./img/reading.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px; 
    padding: 150px;


}
.reading{
    
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    box-shadow: 0 0 5px gray;

}



.consulting {
    margin-top: 2rem;
    margin-right: 20px;
    box-shadow: 0 0 5px gray;
}

.consulting-img{
    background-image: url(./img/consulting.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px; 
    padding: 150px;
}
.coding-img {
    background-image: url(./img/coding.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50px; 
    padding: 150px;
}
.coding{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px gray;
    
}

.classes h5 {
    margin: 1rem 1rem;
}

.classes h3{
    text-align: center;
}


.meet-Lurie{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    
 

}
.lurie-img{
    background-image: url(./img/lurie_headshots_2018-0003_Original.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px; 
    padding: 200px;
    margin: 20px;
    box-shadow: 0 0 5px gray;
    
}

.about {
    width: 40%;
}

/* Center and design contact section */
.contact{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
    width: 100%;
    padding: 3rem;
    background-color: #325E99;
    background-size: cover;
    color: white
}

.contact a {
    width: 10%;
    color: #325E99;
    text-align: center;
    background: white;
    font-size: 22px; 
    line-height: 22px; 
    padding: 15px; 
    border-radius: 7px;
    border: white;
    font-family: 'montserrat';
    text-decoration: none;
    box-shadow: 0 0 5px black;
}

.contact h3{
    font-size: 1.5rem;
}



